@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://raw.githubusercontent.com/j0be/PowerDeleteSuite/alpha/fonts.css');

body {
    background: #eee;
}

.hidden,
.template {
    display: none !important;
}

.requires_auth {
    display: none;
}

.same_user .requires_auth {
    display: inline-block;
}

.content {
    padding-right: 310px;
    text-align: center;
}

.pd {
    background: #fff;
    border-radius: 1em;
    box-shadow: rgba(0, 0, 0, .2) 0 5px 10px;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    margin-top: 2em;
    margin: 0 auto;
    max-width: 100%;
    padding: 1em;
    text-align: left;
}

.pd label,
.pd a {
    cursor: pointer;
}

.pd__actions > span {
    display: inline-block;
}

.pd__actions .octicon {
    background: #cacdd3;
    border-radius: 4px;
    border: 1px solid #54595e;
    color: #54595e;
    display: inline-block;
    height: 100px;
    margin: .5em;
    line-height: 170px;
    text-align: center;
    width: 150px;
}

.pd__actions-tooltip {
    background: #1b8bfe;
    border-radius: 4px;
    bottom: 0;
    display: none;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 130%);
}

.pd__actions-tooltip input {
    background: transparent;
    border: none;
    color: #fff;
    padding: .2em .5em;
}

.pd__actions-tooltip::after {
    border: .5em solid #1b8bfe;
    border-color: transparent transparent #1b8bfe transparent;
    border-width: 0 .5em 0.5em .5em;
    content: "";
    left: 50%;
    position: absolute;
    top: 0;
    transform: translate(-50%, -95%);
}

.pd__actions input:checked + label {
    background: #1b8bfe;
    border-color: #0571fe;
    box-shadow: rgba(0, 0, 0, .2) 0 5px 10px;
    color: #fff;
}

.pd__actions input:checked+label.permanent {
    background: #fe2847;
    border-color: #c1001c;
}

.pd__actions input:checked + label .pd__actions-tooltip {
    display: inline-block;
}