@import url('https://fonts.googleapis.com/css?family=Roboto');
@import 'variables.scss';
@import './fonts/icons';

.hidden {
    display: none !important;
}

body::before {
    background: rgba(0, 0, 0, 0.05);
    content: "";
    height: 100vh;
    position: fixed;
    width: 100vw;
    z-index: -1;

    * {
        box-sizing: border-box;
    }
}

#powerdeletesuite {
    background: white;
    border: 1px solid $grey;
    border-radius: 1em;
    box-shadow: 0 .5em 1em rgba(0,0,0,.1);
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-size: 12px;
    padding: 1em;

    .state {
        display: none;
    }

    &.state_1 .state_1,
    &.state_2 .state_2,
    &.state_3 .state_3 {
        display: block;
    }
}

.state_1 .content {
    /* Layout */
    display: grid;
    grid-template-columns: 1fr 2fr auto;
    grid-template-areas:
        "actions actions actions"
        "filters filtersettings filtersettings"
        "footer footer process";

    .actions {grid-area: actions;}
    .filters {grid-area: filters;}
    .filtersettings {grid-area: filtersettings;}
    .footer {grid-area: footer;}
    .process {grid-area: process;}

    /* Styling */
    h1,
    h2 {
        display: inline-block;
        font-weight: lighter;
        font-size: 14px;
        margin: 0;
    }

    h1 {
        color: $palettemain;
        font-weight: bold;
    }

    label.button {
        background: green;
        display: inline-block;
        height: 2em;
        width: 3em;
    }

    button {
        background: $palettemain;
        border-radius: 4px;
        color: white;
        cursor: pointer;
        font-size: 16px;
        padding: .25em 2em;
        text-transform: uppercase;

        &:disabled {
            background: $grey;
            cursor: default;
        }
    }

    .actions {
        border-bottom: 1px solid $grey;
        padding-bottom: 1em;
    }

    .footer,
    .process {
        line-height: 27px;
        padding-top: 1em;
        text-align: right;
    }

    .process {
        padding-left: 1em;
    }

    .filters,
    .filtersettings {
        border-bottom: 1px solid $grey;
        padding: 1em;
    }

    .filters {
        border-right: 1px solid $grey;
    }

    .filtersettings {
        height: 10em;
        overflow: auto;
    }
}