body {
    background: #eee;
}

.hidden,
.template {
    display: none !important;
}

.requires_auth {
    display: none;
}

.same_user .requires_auth {
    display: inline-block;
}

.content {
    padding-right: 310px;
    text-align: center;
}

.pd {
    background: #fff;
    border-radius: 1em;
    box-shadow: rgba(0, 0, 0, .2) 0 5px 10px;
    display: inline-block;
    margin-top: 2em;
    margin: 0 auto;
    max-width: 100%;
    padding: 1em;
    text-align: left;
}

.pd label,
.pd a {
    cursor: pointer;
}

.pd__actions > span {
    display: inline-block;
}

.pd__actions .icon {
    background: #cacdd3;
    border-radius: 4px;
    border: 1px solid #98a0a8;
    color: #98a0a8;
    display: inline-block;
    height: 100px;
    line-height: 170px;
    text-align: center;
    width: 150px;
}

.pd__actions-tooltip {
    background: #1b8bfe;
    border-radius: 4px;
    bottom: 0;
    display: none;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 130%);
}

.pd__actions-tooltip input {
    background: transparent;
    border: none;
    color: #fff;
    padding: .2em .5em;
}

.pd__actions-tooltip::after {
    border: .5em solid #1b8bfe;
    border-color: transparent transparent #1b8bfe transparent;
    border-width: 0 .5em 0.5em .5em;
    content: "";
    left: 50%;
    position: absolute;
    top: 0;
    transform: translate(-50%, -95%);
}

.pd__actions input:checked + label {
    border-color: #0571fe;
    color: #fff;
    background: #1b8bfe;
}

.pd__actions input:checked + label .pd__actions-tooltip {
    display: inline-block;
}