:root {
    --pds-border-color-light: var(--newCommunityTheme-widgetColors-sidebarWidgetBorderColor, #ddd);
    --pds-border-color-dark: var(--newCommunityTheme-widgetColors-sidebarWidgetBorderColor, #555);
    --pds-bodyText-dark: var(--newCommunityTheme-bodyText, #d7dadc);
}

#pds {
    @import '../node_modules/materialize-css/dist/css/materialize.min.css';

    border: 1px solid var(--pds-border-color-light);
    border-radius: 5px 5px 4px 4px;
    font-family: IBMPlexSans, Arial, sans-serif;
    font-size: 16px;
    overflow: hidden;

    .bold {
        font-weight: bold;
    }

    &.old {
        margin: 1rem;
        width: calc(100vw - 330px - 2em);

        &.dark {
            background-color: rgb(57, 57, 57);
        }
    }

    &.dark {
        color: var(--pds-bodyText-dark);
        border-color: var(--pds-border-color-dark);

        .row.area,
        .area + .area,
        .col.area + .area,
        label:first-child,
        footer {
            border-color: var(--pds-border-color-dark);
        }
    }

    &.new {
        background-color: var(--newCommunityTheme-body);
    }

    .flex {
        display: flex;
        width: 100%;

        .auto {
            flex-basis: 100%;
        }

        &.column {
            flex-direction: column;
        }
    }

    @media (max-width: 1200px) {
        main > .flex {
            flex-direction: column;
        }
    }

    label {
        &:first-child {
            font-size: 1.1em;
            border-bottom: 1px dotted var(--pds-border-color-light);
        }
    }

    .row {
        margin-bottom: 0;

        &.full {
            width: 100%;
        }
        &.area {
            border-top: 1px solid var(--pds-border-color-light);
        }
    }

    .row .area {
        padding: .75rem;
    }

    .col {
        &.area {
            + .area {
                border-left: 1px solid var(--pds-border-color-light);
            }
        }
    }

    .area + .area {
        border-top: 1px solid var(--pds-border-color-light);
    }

    .btn-line-height {
        line-height: 36px;
    }

    p {
        margin: 1em 0;
    }

    .pipeline {
        display: inline-block;
        margin: 0 .5em;
    }

    .versions {
        color: #f1ecf8!important;
    }

    .page-footer {
        background-color: #160d26!important;
        border-top: 1px solid var(--pds-border-color-light);
        padding-top: 0;

        .footer-copyright {
            min-height: auto;
        }
    }

    &.light {
        .page-footer {
            background-color: #f1ecf8!important;
        }
        .versions {
            color: #160d26!important;
        }
    }

    @import './examples.scss';
}