:root {
    --pds-border-color-light: var(--newCommunityTheme-widgetColors-sidebarWidgetBorderColor, #ddd);
    --pds-border-color-dark: var(--newCommunityTheme-widgetColors-sidebarWidgetBorderColor, #555);
    --pds-bodyText-dark: var(--newCommunityTheme-bodyText, #d7dadc);
}

#pds {
    @import '../node_modules/materialize-css/dist/css/materialize.min.css';
}

@import './theme.scss';
@import './actions.scss';
@import './filters.scss';
@import './examples.scss';
